<section class="vh-200" style="margin-top:50px ;background-color: rgb(235, 235, 235);">
    <div class=" p-5 h-90">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-12">
                <div class="row">
                    <!-- left in top -->
                    <div class="col-md-6 col-lg-7">
                        <app-left-in-top></app-left-in-top>
                    </div>
                    <!-- right in top --------------------->
                    <div class="col-md-6 col-lg-5 ">
                        <!-- top -->
                        <app-right-in-top></app-right-in-top>
                        <!-- bottom -->
                        <app-right-inbottom></app-right-inbottom>
                    </div>
                </div>
            </div>
            <div class="col col-xl-12" >
                <app-settime></app-settime>
            </div>
        </div>
    </div>
</section>
<!-- background-color:#4F709C -->