<!-- <form action="" [formGroup]="dataform">
  <div class="card" style="border-radius: 15px;" [dir]="'dir' |translate">
    <div class="card-body">
        <label for="" style="font-weight:bold ;">{{'userinfo.Selectresourcetype' | translate}}</label>
         <div class="form-check form-check-inline m-2">
            <input class="form-check-input" type="radio" name="typeResources" [(ngModel)]="tr" formControlName="typeResources" id="inlineRadio10"  (click)="done(dataform)" value="{{'userinfo.Bookwithinaday' | translate}}">
            <label class="form-check-label" for="inlineRadio10">{{'userinfo.Bookwithinaday' | translate}}</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="typeResources" [(ngModel)]="tr" formControlName="typeResources" id="inlineRadio20" (click)="done(dataform)" value="{{'userinfo.Bookingduration' | translate}}">
            <label class="form-check-label" for="inlineRadio20">{{'userinfo.Bookingduration' | translate}}</label>
          </div>
    </div>
 </div>
</form> -->


<form action="" [formGroup]="dataform">
  <div class="card" style="border-radius: 15px;" [dir]="'dir' | translate">
    <div class="card-body">
      <label for="" style="font-weight: bold;">{{ 'userinfo.Selectresourcetype' | translate }}</label>
      <div class="form-check form-check-inline m-2">
        <input class="form-check-input" type="radio" name="typeResources" formControlName="typeResources" id="inlineRadio10" (change)="done()" [value]="'userinfo.Bookwithinaday' | translate">
        <label class="form-check-label" for="inlineRadio10">{{ 'userinfo.Bookwithinaday' | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="typeResources" formControlName="typeResources" id="inlineRadio20" (change)="done()" [value]="'userinfo.Bookingduration' | translate">
        <label class="form-check-label" for="inlineRadio20">{{ 'userinfo.Bookingduration' | translate }}</label>
      </div>
    </div>
  </div>
</form>